<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Registration</title>
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div class="container">
        <div class="flex">
            <a href="/register" class="btn btn-secondary">New Registration</a>
            <a href="/login" class="btn btn-secondary">Login</a>
        </div>

    </div>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post" action="/register">
        <h3>Register</h3>

        <label for="name">Name</label>
        <input type="text" placeholder="Name" name="name">
        <label for="email">UserName</label>
        <input type="text" placeholder="email" name="email">
        <label for="password">Password</label>
        <input type="password" placeholder="Password" name="password">


        <button type="submit" class=" btn-white">Log In</button>

    </form>

</body>

</html>