<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post" action="/register">
        <h3>Login</h3>

        <label for="name">Name</label>
        <input type="text" placeholder="Name" name="name">
        <label for="username">UserName</label>
        <input type="text" placeholder="Username" name="username">
        <label for="password">Password</label>
        <input type="password" placeholder="Password" name="password">


        <button type="submit" class="btn btn-white">Log In</button>

    </form>

</body>

</html>